
input[type="text"] {
  width: 100%;
  box-sizing:border-box;
  height:30px;
  padding:10px;
  font-size: 14px;
  margin-bottom:20px;
}
#save {
  background: gray;
  color:white;
  text-align: center;
  width:200px;
  display: block;
  padding:20px 0;
  text-transform: uppercase;
}
#save:hover {
  background: #000;
}
#status {
  
}
#goToSheet {
  display: none;
  margin-top: 10px;
}

#inst_link {
  color:grey;
}
#inst_link:hover {
  cursor: pointer;
  color:black;
}

#instructions div {
  padding:10px;
  margin:5px;
  border:1px solid #bfbfbf;
  background: #cdcdcd;
}
#instructions h3 {
  margin-top: 0;
}

ol li {
  margin: 10px 0;
}