body {
  width: 220px;
  overflow-x: hidden;
  height:auto;
  font-size: 14px;
  font-family: sans-serif; 
}
span {
  display:block;
  padding:5px;
  height:30px;
  border:1px solid #c8c8c8;
  color:#aaa;
  width:100%;
  box-sizing:border-box;
}
.label {
  margin:3px 0;
  text-transform: lowercase;
  color:grey;
  text-align: right;
  font-size: 11px;
}
.button {
  display: block;
  text-transform: uppercase;
  text-align: center;
  background: #248AFF;
  margin: 10px 0;
  padding:10px 0;
  color:#efefef;
}
.button:hover {
  cursor:pointer;
  background: #0059BF;
}
.button:active {
  color:#fff;
}
#pw {
  color:#efefef;
}
#pw::selection {
  color:#fff;
  background: #fff;
}
#pw.generated {
  color:#000;
  height: auto;
}
#pw.generated::selection {
  color:#fff;
  background: #000;
}
.error {
  color: red;
}
.success {
  color:green;
}
#status {
  display: none;
}
.small {
  font-size: 9px;
  margin:5px 0;
}

label {
    display: block;
    min-height:20px;
    overflow:hidden;
}
input[type="checkbox"], 
#digits {
  float: left;
  margin-right:5px;
}
#digits {
  width:20px;
}

.hover:hover {
  cursor: pointer;
}

.hidden {
  height:0;
  overflow: hidden;
  transition: height .3s linear;
}
.hidden.show {
  height: auto !important;
}

.hide {
  display: none;
}
.hide.show {
  display:block;
}

/*
  CSS3 Spinner source: http://codepen.io/lixonic/pen/zfrFj
*/
.spinner{
  border-radius:50%;
  border:5px dashed #426BB8;
  display:table;
  margin:auto;
  -webkit-animation: rotate-right 2s infinite;
 
}
.spinner:before{
  content:"";
  display:table;
  border:10px groove #4278DB;
  border-radius:50%; 
  -webkit-animation: rotate-left 1s infinite;
 
}
@-webkit-keyframes rotate-left
{
  from { -webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(-360deg);}
}
@-webkit-keyframes rotate-right
{
  from { -webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

/*
my codepen for this
http://codepen.io/anon/pen/Bwyhd
*/
.line {
  width:1px;
  height:100%;
  background: blue;
  position:absolute;
  z-index:1;
  top:0;
  right:100%;
  -webkit-animation: move-right ease 0.7s infinite alternate;
}

@-webkit-keyframes move-right {
  from { left: 0; }
  to { right: 0; }
}