/* CSS that will be used by all extensions/add-ons */

body {
  padding:0;
  margin:0;
  font-family: sans-serif;
}
.container {
  width:650px;
  margin:50px auto;
  padding:20px;
  background:#eee;
}