.container {
  width:960px;
  position: relative;
}
#db_container {
  overflow:hidden;
}

#db_container .row {
  width:100%;
  overflow:hidden;
  margin:5px 0;
  border-bottom:1px solid #DED2D2;
  padding:3px 0;
}

#db_container .item {
  width: 31%;
  float: left;
  padding-right:5px;
}

.search {
  width: 30%;
  position: absolute;
  top: 145px;
  right: 10px;
  display: block;
  padding: 5px 10px;
  font-size: 20px;
}